<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <display-name>MoviesTheater</display-name>




    <!-- Promotion Manager Servlet - UC43/UC44 -->

    <listener>
        <listener-class>com.cinema.listener.PromotionStatusScheduler</listener-class>
    </listener>

    <!-- Manager Dashboard Servlet -->
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>com.cinema.controller.ManagerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SeatController</servlet-name>
        <servlet-class>com.cinema.controller.SeatController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MovieController</servlet-name>
        <servlet-class>com.cinema.controller.MovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.cinema.controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PromotionServlet</servlet-name>
        <servlet-class>com.cinema.controller.PromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>com.cinema.controller.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowtimeServlet</servlet-name>
        <servlet-class>com.cinema.controller.ShowtimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PromotionServlet</servlet-name>
        <url-pattern>/manager/promotions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowtimeServlet</servlet-name>
        <url-pattern>/showtimes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.cinema.controller.EmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/manager/employees</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GenreController</servlet-name>
        <servlet-class>com.cinema.controller.GenreController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenreController</servlet-name>
        <url-pattern>/GenreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieController</servlet-name>
        <url-pattern>/MovieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <!-- Auth Servlet -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.cinema.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.cinema.controller.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.cinema.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <!-- Google OAuth -->
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>com.cinema.controller.LoginGoogleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogle/*</url-pattern>
    </servlet-mapping>

    <!-- Auth Filter -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.cinema.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Forgot / Reset / Change Password -->
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>com.cinema.controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>com.cinema.controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/new-password</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>com.cinema.controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/change-password</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SeatController</servlet-name>
        <url-pattern>/SeatController</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
